.mainContainer
	.aboutBox
		.pics.shadow
			= image_tag('about us.png')
		= render 'layouts/sidebar'
		.centerText
			.textBox
				%h1 About Us:
				%p Delta Sigma Pi is a professional co-ed business fraternity founded in 1907 at the New York University: School of Commerce, Accounts, and Finance by Harold Valentine Jacobs, Alexander Frank Makay, Alfred Moysello, and Henry Albert Tienken.  We are a combined aspect of both a student club and a fraternity, being structured by the dichotomy of business education and brotherhood.  Up until today, our organization has grown from coast to coast, with over 300 collegiate chapters and 235,000 members worldwide.
				%br
				%h1 Our Chapter:
				%p UCSD’s Omicron Sigma Chapter of Delta Sigma Pi was founded on May 22, 2004.  Our chapter works with both intellectual knowledge and hands-on experience to provide the most comprehensive educational resources and concrete set of skills used in the business sector.  We are dedicated to growth and development, with our interests invested in opening opportunities to our university and establishing long lasting relationships among our members.  Our goal is to help individuals seek out their potential and create value with each innovative pursuit, while expanding our network of like-minded individuals who are enthusiastic about pioneering the future, and strive to become successful leaders of tomorrow.
		= render 'layouts/calendar'