@import "bootstrap";

//ORDER OF SHIT TOP RIGHT BOTTOM LEFT
$bannerColor: #272323;
$textColor: #3267A0;

header {
	color: white;
	background: $bannerColor;
	height: 8em;
	.headerContainer {
		line-height: normal;
		.name {
			font-family: Symbol;
			float: left;
			margin: 15px 0 0 2em;
			font-size: 85px;
		}
		.full.name {
			margin: 15px 0 0 25px;
			.top {
				font-family: Ingleby;
				color: $textColor;
				font-size: 45px;
			}
			.bottom {
				font-family: Mission Script;
				font-size: 20px;
			}
		}
		.clear {
			clear: both;
		}
	}
}