@import "bootstrap";

//ORDER OF SHIT TOP RIGHT BOTTOM LEFT
$bannerColor: #252221;
$textColor: #3267A0;

.headerContainer {
	text-align: center;
}

.footerContainer {
	background: $bannerColor;
	text-align: right;
}