// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ORDER OF SHIT TOP RIGHT BOTTOM LEFT
$boxColor: #23201F; //banner color box color
$purple: #663399;
$gray: #686868;
$questions: #23201F;

@font-face {  
	font-family: MarketDeco;  
	src: url("MarketDeco.ttf") format("truetype");  
}  

body { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

@mixin boxRadius {
	border-radius: 63px;
	-moz-border-radius: 63px;
	-webkit-border-radius: 63px;
}

@keyframes moveFromBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-moz-keyframes moveFromBottom {
    from {
        opacity: 0;
        -moz-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromBottom {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@keyframes moveFromLeft{
    from {
    	opacity: 0;
        transform: translateX(-100%);
    }
    to {
    	opacity: 1;
        transform: translateX(0%);
    }
}

@-moz-keyframes moveFromLeft{
    from {
    	opacity: 0;
        -moz-transform: translateX(-100%);
    }
    to {
    	opacity: 1;
        -moz-transform: translateX(0%);
    }
}
@-webkit-keyframes moveFromLeft{
    from {
    	opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    to {
    	opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
}

.boxIt {
	@include boxRadius;
	height: 126px;
	width: 126px;
	background-color: $boxColor;
	transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	a {
		display: block;
		position: relative;
		text-decoration: none;
		height: 126px;
		width: 126px;
	}
	span, p {
		font-family: "Brush Script MT", cursive;
		font-size: 24px;
		color: $gray;
		text-decoration: none;
		position: relative;
		margin: 0px auto;
		display: block;
	}
	.homeImage {
		span {
			margin: 25px 0 10px 0;
		}
	}
	.aboutImage {
		span {
			margin: 35px 0 10px 0;
		}
	}
	.brothersImage {
		span {
			margin: 15px 0 10px 0;
		}
	}
	.alumniImage {
		span {
			margin: 23px 0 6px 0;
		}
	}
	.recruitmentImage {
		span {
			margin: 23px 0 0px 0;
		}
	}
	.contactImage {
		span {
			margin: 30px 0 13px 0;
		}
	}
}

.pics {
	height: 331px;
	width: 968px;
	margin: 20px auto;
	overflow: hidden;
	img {	
	}
}

.homeContainer {
	color: $gray;
	margin: 0px auto;
	position: relative;
	height: 850px;
	width: 1006px; //968 + margin 19, 38 total
	text-align: center;
	.navList {
		li {
			float: left;
			position: relative;
			overflow: hidden;
			margin: 5px 19px;
			display: inline-block;
			transition: all 200ms linear;
			-moz-transition: all 200ms linear;
			-webkit-transition: all 200ms linear;
			&:hover {
				span {
					animation: moveFromLeft 500ms ease;
					-moz-animation: moveFromLeft 500ms ease;
					-webkit-animation: moveFromLeft 500ms ease;
				}
				p {
					animation: moveFromBottom 500ms ease;
					-moz-animation: moveFromBottom 500ms ease;
					-webkit-animation: moveFromBottom 500ms ease;
				}
			}
		}
	}
	.textContainer {
		position: relative;
		height: 225px;
		width: 968px;
		margin: 0px auto;
		clear: both;
		h1 {
			font-size: 24px;
			font-family: MarketDeco, "Trebuchet MS", Arial, sans-serif;
			color: $purple;
		}
		.sideText {
			float: left;
			text-align: left;
			margin: 0px 0px 0px 19px;
			width: 332px;
		}
		.mainText {
			width: 316px;
			float: left;
			display: block;
			word-wrap: break-word;
			overflow: auto;
			text-align: left;
		}
		.calendar {
			float: right;
			width: 300px;
			display: block;
			word-wrap: break-word;
			overflow: auto;
			p {
				font-size: 12px;
			}
		}
	}
	.textBox {
		margin: 5px;
	}
}

.alumniText, .brothersText, .aboutText, .contactText, .recruitmentText {
	display: none;
}

.mainContainer {
	width: 100%;
	overflow: hidden;
	margin: 0px 0px 75px 0px;
	.alumniBox, .brothersBox, .aboutBox, .contactBox, .recruitmentBox {
		width: 1000px;
		margin: 0px auto 25px auto;
	}
	h1 {
		font-size: 24px;
		color: $purple;
	}
	h2 {
		font-size: 24px;
		color: $purple;
	}
	p {
		font-size: 16px;
	}
}

#sideBar {
	display: block;
	width: 150px;
	height: 200px;
	float: left;
	a {
		display: block;
		font-size: 20px;
		text-decoration: none;
		color: $gray;
		margin: 10px 0px 0px 0px;
	}
	.sideList {
		width: 150px;
		margin: 0px 0px 0px 15px;
	}
}

.centerText {
	.textBox {
		margin: 6px 0px 0px 0px;
	}
	display: block;
	float: left;
	width: 500px;
	height: 100%;
	color: $gray;
	margin: 0px 0px 0px 20px;
	a {
		text-decoration: none;
	}
	.textBox {
		color: $gray;
	}
	label {
		color: $gray;
	}
	#toggle-view {
	    list-style: none;   
	    font-size: 14px;
	    margin: 0;
	    padding: 0;
	    width: 500px;
	    li {
	        margin: 10px;
	        border-bottom: 1px solid #ccc;
	        position: relative;
	        cursor: pointer;
		}
		h3 {
        	font-size: 18px;
        	color: $gray;
        	&:hover {
        		color: black;
        		background: #F3F5F5;
        	}
    	}
 		span {
	        position: absolute;
	        right: 0px; 
	        top: 0px;
	        color: #ccc;
	        font-size: 16px;
	    }
     	.panel {
        	margin: 5px 0;
        	display: none;
    	}
    }
}

.calendarText {
	text-align: center;
	display: block;
	float: right;
	width: 325px;
	height: 100%;
		a {
			text-decoration: none;
	}
	.textBox {
		color: $gray;
	}
	h2 { 
		font-family: MarketDeco, "Trebuchet MS", Arial, sans-serif;
	}
	p {
		font-size: 14px;
	}
}

.notice {
	color: red;
	text-align: center;
	position: relative;
	top: 250px;
}

input, textarea, select, .uneditable-input {
	width: 100%;
	height: auto;
}