// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ORDER OF SHIT TOP RIGHT BOTTOM LEFT
$textColor: #3267A0;
$boxColor: #252221;
$mainTextColor: #7AA0BD;
$textBoxColor: #A0B3C2;

body { 
	margin: 0;
	padding: 0;
	/* IE10 Consumer Preview */ 
	background-image: -ms-repeating-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #272323 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-repeating-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #272323 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-repeating-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #272323));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-repeating-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #272323 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #272323 100%);
	//background: no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

@mixin boxRadius {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

@keyframes imageSlide {
	0% { left: 0px; }
	50% { left: 45px; }
	100% { left: -45px }
}

@-moz-keyframes imageSlide {
	0% { left: 0px; }
	50% { left: 45px;}
	100% { left: -45px }
}

@-webkit-keyframes imageSlide {
	0% { left: 0px; }
	50% { left: 45px; }
	100% { left: -45px }
}

.boxIt {
	@include boxRadius;
	height: 145px;
	width: 145px;
	margin: 13px;
	margin-top: 28px;
	color: $textColor;
	font-family: Mission Script;
	background-color: $boxColor;
	transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	a {
		text-decoration: none;
		color: $textColor;
	}
	&:hover {
		transform: scale(1.2);
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
	}
	.homeImage {
		position: relative;
		height: 100%;
		top: 15px;
	}
	.chapterImage {
		position: relative;
		height: 100%;
		top: 25px;
	}
	.brothersImage {
		position: relative;
		height: 100%;
		top: 10px;
	}
	.alumniImage {
		position: relative;
		height: 100%;
	}
	.recruitmentImage {
		position: relative;
		height: 100%;
		top: 10px;
	}
	.contactImage {
		position: relative;
		height: 100%;
		top: 20px;
	}
}

.superContainer {
	margin: 0px auto;
	position: relative;
	right: 50px;
	height: 530px;
	width: 900px;
	text-align: center;
	.listLeft {
		margin: 2px;
		float: left;
	}

	.listRight {
		margin: 2px;
		float: left;
	}
	.textContainer {
		height: 323px;
		width: 540px;
		position: relative;
		margin-top: 197px;
		float: right;
		.mainText {
			@include boxRadius;
			position: absolute;
			bottom: 0px;
			right: 295px;
			background-color: $textBoxColor;
			border: 10px solid $textBoxColor;
			height: 303px;
			width: 225px;
			display: block;
			word-wrap: break-word;
			overflow: auto;
			text-align: center;
		}
		.calendar {
			@include boxRadius;
			position: absolute;
			bottom: 0px;
			right: 20px;
			background-color: $textBoxColor;
			border: 10px solid $textBoxColor;
			height: 303px;
			width: 225px;
			display: block;
			word-wrap: break-word;
			overflow: auto;
		}
	}
	.textBox {
		margin: 5px;
	}
	.imageGallery {
		position: absolute;
		height: 143px;
		width: 518px;
		top: 30px;
		right: 23px;
		img {
			height: 143px;
			width: 518px;
		}
	}
}

ul {
	list-style: none;
	margin: 0px;
}

.alumniText, .brothersText, .chapterText, .contactText, .recruitmentText {
	display: none;
}

.mainContainer {
	width: 100%;
	overflow: hidden;
	.alumniBox, .brothersBox, .chapterBox, .contactBox, .recruitmentBox {
		height: 700px;
		width: 1050px;
		margin: 300px auto 50px auto;
		overflow: hidden;
	}
}

#sideBar {
	@include boxRadius;
	display: block;
	width: 210px;
	height: 100%;
	text-align: left;
	float: left;
	background: $boxColor;
	a {
		text-decoration: none;
	}
	a:link { text-decoration: none; color: $textColor; }
	a:visited { text-decoration: none; color: $textColor; }
	a:hover { text-decoration: none; color: $textColor; }
	a:active { text-decoration: none; color: $textColor; }
	.sideList {
		width: 105px;
		margin: 25px auto 0px auto;
	}
}
.centerText {
	@include boxRadius;
	display: block;
	float: right;
	width: 820px;
	height: 100%;
	background: $boxColor;
	a {
		text-decoration: none;
	}
	.textBox {
		color: white;
		margin: 50px;
	}
	label {
		color: white;
	}
}
.notice {
	color: red;
	text-align: center;
	position: relative;
	top: 340px;
}
input, textarea, select, .uneditable-input {
	width: 100%;
	height: auto;
}