// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//ORDER OF SHIT TOP RIGHT BOTTOM LEFT
$boxColor: #23201F; //banner color box color
$purple: #663399;
$gray: #686868;
$questions: #23201F;

body { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

@mixin boxRadius {
	border-radius: 63px;
	-moz-border-radius: 63px;
	-webkit-border-radius: 63px;
}

@keyframes imageSlide {
	0% { left: 0px; }
	50% { left: 45px; }
	100% { left: -45px }
}

@-moz-keyframes imageSlide {
	0% { left: 0px; }
	50% { left: 45px;}
	100% { left: -45px }
}

@-webkit-keyframes imageSlide {
	0% { left: 0px; }
	50% { left: 45px; }
	100% { left: -45px }
}

.boxIt {
	@include boxRadius;
	height: 126px;
	width: 126px;
	background-color: $boxColor;
	transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	a {
		text-decoration: none;
	}
	&:hover {
		transform: scale(1.2);
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
	}
	.homeImage {
	position: relative;
	height: 100%;
	top: 15px;
	}
	.aboutImage {
		position: relative;
		height: 100%;
		top: 25px;
	}
	.brothersImage {
		position: relative;
		height: 100%;
		top: 10px;
	}
	.alumniImage {
		position: relative;
		height: 100%;
	}
	.recruitmentImage {
		position: relative;
		height: 100%;
		top: 10px;
	}
	.contactImage {
		position: relative;
		height: 100%;
		top: 20px;
	}
}

.homeContainer {
	color: $gray;
	margin: 0px auto;
	position: relative;
	height: 530px;
	width: 986px; //948 + margin 19, 38 total
	text-align: center;
	.navList {
		li {
			float: left;
			margin: 5px 19px;
		}
	}
	.textContainer {
		height: 225px;
		width: 100%;
		position: relative;
		clear: both;
		h1 {
			font-size: 24px;
			font-family: Futura, "Trebuchet MS", Arial, sans-serif;
			color: $purple;
		}
		.sideText {
			float: left;
			text-align: left;
			margin: 0px 0px 0px 19px;
			width: 332px;
		}
		.mainText {
			width: 316px;
			float: left;
			display: block;
			word-wrap: break-word;
			overflow: auto;
			text-align: left;
		}
		.calendar {
			float: right;
			width: 300px;
			display: block;
			word-wrap: break-word;
			overflow: auto;
			p {
				font-size: 12px;
			}
		}
	}
	.textBox {
		margin: 5px;
	}
	.imageGallery {
		position: relative;
		img {
		}
	}
}

.alumniText, .brothersText, .aboutText, .contactText, .recruitmentText {
	display: none;
}

.mainContainer {
	width: 100%;
	overflow: hidden;
	margin: 0px 0px 75px 0px;
	.alumniBox, .brothersBox, .aboutBox, .contactBox, .recruitmentBox {
		width: 1200px;
		margin: 250px auto 25px auto;
	}
	h1 {
		font-size: 24px;
		color: $purple;
	}
	h2 {
		font-size: 24px;
		color: $purple;
	}
	p {
		font-size: 16px;
	}
}

#sideBar {
	display: block;
	width: 300px;
	height: 200px;
	float: left;
	a {
		display: block;
		font-size: 20px;
		text-decoration: none;
		color: $gray;
		margin: 10px 0px 0px 0px;
	}
	.sideList {
		width: 150px;
		margin: 0px auto 0px auto;
	}
}

.centerText {
	.textBox {
		margin: 6px 0px 0px 0px;
	}
	display: block;
	float: left;
	width: 500px;
	height: 100%;
	color: $gray;
	margin: 0px 0px 0px 20px;
	a {
		text-decoration: none;
	}
	.textBox {
		color: $gray;
	}
	label {
		color: $gray;
	}
	#toggle-view {
	    list-style: none;   
	    font-size: 14px;
	    margin: 0;
	    padding: 0;
	    width: 500px;
	    li {
	        margin: 10px;
	        border-bottom: 1px solid #ccc;
	        position: relative;
	        cursor: pointer;
		}
		h3 {
        	font-size: 18px;
        	color: $gray;
        	&:hover {
        		color: black;
        		background: #F3F5F5;
        	}
    	}
 		span {
	        position: absolute;
	        right: 5px; top:0;
	        color: #ccc;
	        font-size: 16px;
	    }
     	.panel {
        	margin: 5px 0;
        	display: none;
    	}
    }
}

.calendarText {
	text-align: center;
	display: block;
	float: right;
	width: 325px;
	height: 100%;
		a {
			text-decoration: none;
	}
	.textBox {
		color: $gray;
	}
	h2 { 
		font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	}
	p {
		font-size: 14px;
	}
}

.notice {
	color: red;
	text-align: center;
	position: relative;
	top: 250px;
}

input, textarea, select, .uneditable-input {
	width: 100%;
	height: auto;
}