.calendarText
	.textBox
		%h2 RECRUITMENT SCHEDULE
		%p THURS, JAN 10: Meet the Chapter
		%p 8PM @ PC Ballroom East
		%p Casual Attire
		%br
		%p FRI, JAN 11: Alumni Mixer
		%p 8PM @ The Forum (PC 4th Floor)
		%p Business Casual Attire
		%br
		%p SAT, JAN 12: Community Service
		%p 8:15AM @ Peterson Loop
		%p Casual Attire
		%br
		%p MON, JAN 14: Professional Night
		%p 7:30PM @ Rady 1S113
		%p Professional Attire
		%br
		%p TUES, JAN 15: Brotherhood Night
		%p 6:15PM @ Peterson Loop
		%p Casual Attire