.calendarText
	.textBox
		%h2 RECRUITMENT SCHEDULE
		%p THURSDAY, OCT 4: Meet the Chapter
		%p 8PM @ Rady 1S113
		%p Casual Attire
		%br
		%p FRIDAY, OCT 5: Alumni Mixer 
		%p 7PM @ The Forum (PC 4th Floor)
		%p Business Casual
		%br
		%p MONDAY, OCT 8: Professional Night 
		%p 7:30PM @ Rady 1S114
		%p Professional Business Attire
		%br
		%p TUESDAY, OCT 9: Brotherhood Night 
		%p 7PM @ Peterson Loop
		%p Casual Attire
		%br
		%p THURS-FRI, OCT 11-12: Interviews
		%p By Appointment Only
		%p Professional Business Attire